.relatedSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.relatedSection > h2 {
  width: 100%;
  max-width: 1300px;
}

.relatedGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  row-gap: 4rem;
  max-width: 1300px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .relatedGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .relatedGrid {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
